/TravelAgencySoap/nbproject/private/
/LameDuck/nbproject/private/
/LameDuckSoap/nbproject/private/
/LameDuckSoap/build/
/TravelAgencyBpel/nbproject/private/
/HotelClient/nbproject/private/
/HotelClient/build/
/HotelClient/dist/
/NiseView/dist/
/TravelAgencySoapBpel/nbproject/private/
/TravelAgencySoapBpel/build/
/BpelComposite/nbproject/private/
/BpelComposite/src/jbiServiceUnits/
/BpelComposite/build/
/BpelComposite/dist/
/MainTests/nbproject/private/
/MainTests/build/