/TravelAgencySoap/nbproject/private/
/LameDuck/nbproject/private/
/LameDuckSoap/nbproject/private/
/LameDuckSoap/build/
/TravelAgencyBpel/nbproject/private/
/HotelClient/nbproject/private/
/HotelClient/build/
/HotelClient/dist/